

.Pagina-principal{
    background-color: aqua

}
ul{
    display: inline;
}
h1{
    position: relative;
    left: 800px;
    border: 3px;
}
li{
    display: inline;
    transition: none;
}
.nav{
    background-color: white;
}

.set{
    size: 10px;
}

